.collapsible {
  border-radius: 5px;
  margin-bottom: 1em;
  position: relative;
}

.collasibleLabel {
  background-color: #ff6060;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  text-align: left;
  font-weight: 500;
  font-size: 1em;
  position: relative;
  cursor: pointer;
  list-style: none;
}

.collapsibleContent {
  padding: 1em;
  font-weight: 300;
  font-size: 1em;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-top: -5px;
  color: #ff6060;
  list-style: none;
}

.collapsibleArrow {
  width: 1.5em;
  position: absolute;
  right: 10px;
  top: 12px;
}

.showArrow {
  transform: rotate(180deg);
  top: 9px;
}
