footer {
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  bottom: 0px;
}

.logoFooter {
  width: 70px;
  padding-bottom: 10px;
}

.footerText {
  font-size: 0.7em;
  color: white;
  padding: 0;
  margin: 0;
}
