@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap");

header,
main {
  margin: 0px 80px;
}

main {
  margin-bottom: 3em;
}

body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1024px) {
  header,
  main {
    margin: 0px 20px;
  }

  body {
    margin: 0px;
  }
}
